.full-screen,
canvas {
  display: block;
  height: inherit;
  width: inherit;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 30px;
}

.buttons button {
  width: 200px;
  height: 30px;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
}

.buttons button:first-child {
  margin-left: 0;
}

.button-selected {
  background-color: green;
  color: white;
}
